<div class="card">
    <div class="card--header">
        <h2>First news of 2022 about Angular </h2>
        <small>15.01.2022</small>
    </div>

    <div>
        <small>Anna</small>
    </div>

    <button
    [routerLink]="['/post', 12312]"
    class="btn btn-dark">Open</button>
</div>

<div class="card">
    <div class="card--header">
        <h2>So yesterday's news</h2>
        <small>12.01.2022</small>
    </div>

    <div>
        <small>Mark</small>
    </div>

    <button
    [routerLink]="['/post', 12312]"
    class="btn btn-dark">Open</button>
</div>

<div class="card">
    <div class="card--header">
        <h2>What New 2022 Year will bring us?</h2>
        <small>09.01.2022</small>
    </div>

    <div>
        <small>Mariia</small>
    </div>

    <button
    [routerLink]="['/post', 12312]"
    class="btn btn-dark">Open</button>
</div>

<div class="card">
    <div class="card--header">
        <h2>What Chinese zodiac says about water Tiger</h2>
        <small>08.01.2022</small>
    </div>

    <div>
        <small>Sami</small>
    </div>

    <button
    [routerLink]="['/post', 12312]"
    class="btn btn-dark">Open</button>
</div>

<div class="card">
    <div class="card--header">
        <h2>Not a clickbait post</h2>
        <small>31.12.2021</small>
    </div>

    <div>
        <small>Aleks</small>
    </div>

    <button
    [routerLink]="['/post', 12312]"
    class="btn btn-dark">Open</button>
</div>