<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Making a new Post</h1>

    <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
        <label for="title">Title:</label>
        <input id="title" type="text" formControlName="title">
        <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
            <small *ngIf="form.get('title').errors?.['required']">Enter the Title field</small>
        </div>
    </div>

    <div class="form-control">
        <label> Text:</label>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
        <label for="author">Author name:</label>
        <input id="author" type="text" formControlName="title">
        <div *ngIf="form.get('titauthorle').touched && form.get('author').invalid" class="validation">
            <small *ngIf="form.get('author').errors?.['required']">Enter the Author field</small>
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-block btn-dark"
        [disabled] = "form.invalid"
    >Submit</button>

</form>