<div class="post">
    <div class="header">
        <h1>This is that post</h1>
        <button routerLink="/" class="btn btn-dark btn-link">Return to main page</button>
    </div>
    <div class="info">
        <strong>Anna</strong>
        <small>07.01.2022</small>
    </div>
    <div>
        <br />
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aut nisi harum tempora repellat voluptas? Praesentium totam quaerat, placeat aut voluptates distinctio a molestiae porro maxime vitae omnis molestias magnam? <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aut nisi harum tempora repellat voluptas? Praesentium totam quaerat, placeat aut voluptates distinctio a molestiae porro maxime vitae omnis molestias magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aut nisi harum tempora repellat voluptas? Praesentium totam quaerat, placeat aut voluptates distinctio a molestiae porro maxime vitae omnis molestias magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aut nisi harum tempora repellat voluptas? Praesentium totam quaerat, placeat aut voluptates distinctio a molestiae porro maxime vitae omnis molestias magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aut nisi harum tempora repellat voluptas? <br />
            Praesentium totam quaerat, placeat aut voluptates distinctio a molestiae porro maxime vitae omnis molestias magnam?
            
        </p>
    </div>
</div>